@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    box-sizing: border-box;
}
body{
    font-family:"Nunito";
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column ;
    min-height: 100vh;
}

main{
    flex: 1;
}
header{
    background-color: hsla(0, 8%, 90%, 0.8);
    position: sticky;
    box-shadow: 0 2px 5px hsla(0, 0%, 0%, 0.149);
    padding: 15px 38px;
    z-index: 1000;
}

.logo{
    display: flex;
    align-items: center;
}
.logo img{
    height: 50px;
    width: auto;
}
.logo h1{
    font-family: "Myriad Pro";
    color: hsl(0, 96%, 36%);
}
.logo:hover{
    transform: scale(1.1);
}
.dropdown{
    display: inline-block;
    position: relative;
}
.dropdown span{
    text-decoration: none;
    font-weight: 500;
    color: #333;
    padding: 8px 16px;
    cursor: pointer;
    display: inline-block;
}
.dropdown span:hover{
    font-size: 1rem;
    font-weight: 600;
    border-radius: 18px;
    transform: scale(1.1);
}
.dropdown-menu{
    background-color: #ffffff;
    display: none;
    position: absolute;
    box-shadow: 0 2px 5px hsla(0, 0%, 0%, 0.15);
    min-width: 160px;
    border-radius: 8px;
    overflow: hidden;
    z-index: 1001;
}
.dropdown:hover .dropdown-menu{
    display:flex;
    flex-direction: column;
}
.dropdown-menu a{
    display: block;
    text-decoration : none;
    font-size: 1rem; 
    font-weight: 500;
    color : #333;
    padding: 8px 16px;
    margin: 0;
}
.dropdown-menu a:hover{
    font-size: 600;
    color: #ffffff;
    background-color: hsl(0, 96%, 38%);
    padding-left: 20px;
    transform: scale(1.1);
}
.header-elements{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin:0 auto;
    max-width: 1200px;
    width:100%;
}
header h1{
    font-size: 2.2rem;
    font-weight:900;
    letter-spacing: 1.8px;
    color: hsl(0, 96%, 38%);
}
header nav{
    display: flex;
    align-items: center;
    gap:50px;
}
header nav a{
    text-decoration : none;
    font-size: 1.8rem; 
    color : #333;
    font-size : 1rem;
    font-weight: 500;
    padding: 8px 16px;
    white-space: nowrap;
}
header nav a:hover{
    font-size: 1rem;
    font-size:600;
    color: #ffffff;
    background-color: hsl(0, 96%, 38%);
    border-radius: 18px;
    transform: scale(1.1);
}

header nav a.contact{
    font-weight: 700;
    color: white;
    background-color: hsl(0, 96%, 38%);
    border-radius: 18px;
}
header nav a.contact:hover{
    background-color: hsl(0, 96%, 30%);
    transform: scale(1.1);
}

.page-title{
    background-color: #333;
    color: white;
    text-align: center;
    display: flex;
    justify-content:center;/* horizontal alignment */
    align-items: center; /*vertical alignment*/
    flex-direction: column;
    padding: 40px 0;;
}
.page-title h1{
    font-size: 2.4rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 10px;
    letter-spacing: 1.3px;
    text-shadow: 1px 1pxp 3px hsla(0, 0%, 0%, 0.519)
}
.page-title p{
    color: #ccc;
    font-size: 1.2rem;
}
.page-elements{
    display:flex;
    flex-direction: column;
}
.page-elements:hover{
    transform: scale(1.1);
}
@media(max-width: 600px){
    .page-title h1{
        font-size: 1.4rem;
    }
    .page-title p{
        font-size: 1rem;
    }
}


.listing-section{
    padding: 80px 20px;
    background-color: #fff;
    margin: 0 auto;
}

.listing-section h2{
    font-size: 2.2rem;
    font-weight: 700;
    text-align: center;
    color: #333;
    margin-bottom: 10px;

}

.listing-section p{
    text-align: center;
    color: #666;
    font-size: 1.1rem;
    margin-bottom: 50px;
}

.motorcycle-grid{
    display : grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    padding: 20px;
    max-width: 1400px;
    margin: 0 auto;
}
@media(max-width:1024px){
    .motorcycle-grid{
        grid-template-columns: repeat(3,1fr);
    }
}
@media(max-width:600px){
    .motorcycle-grid{
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
    }
}
@media(max-width:480px){
    .motorcycle-grid{
        grid-template-columns: repeat(2,1fr);
    }
}


.motorcycle-card{
    background-color:#fff;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border: 2px solid white;
    cursor: pointer;;
}
.motorcycle-card:hover{
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    border-color: hsl(0, 96%, 38%);
}
.bike-image{
    background-color: #f5f5f5;
    width:100%;
    aspect-ratio: 4/3;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    overflow:hidden;
}
.bike-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.motorcycle-card h3{
    font-size: 1.4rem;
    color:#333;
    margin-bottom: 10px;
    font-weight: 600;
}
.motorcycle-card .description{
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 12px;
    padding: 0 5px;
    text-align: left;
}
.motorcycle-card .price{
    color:#d32f2f;
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: auto;
}


.catcher{
    background-color: hsl(0, 94%, 36%);
    padding: 20px 10px;
    text-align: center;;
}
.catcher h1{
    color: white;
    font-size: 2.2rem;
    font-weight: 700;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3)
}


#back-to-top{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: hsl(0, 94%, 36%);
    color: white;
    padding:10px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 20px;
    border: none;
    display: none;
    align-items: center;
    justify-content: center;
}
#back-to-top.show{
    display: flex;
}
#back-to-top img{
    width: 20px;
    height: 20px;
}

footer{
    font-size: 1rem;
    background-color: #333;
    color: white;
    padding: 50px 20px 20px 20px;
    width:100%;
}
.footer-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap:40px;
    padding-bottom: 30px;
    border-bottom: 1px solid black;
    max-width: 1200px;
    margin: 0 auto;
}
.footer-section h3{
    font-size: 1.4rem;
    color: hsl(0, 94%, 36%);
    margin-bottom: 13px;
}
.footer-section h4{
    font-size: 1.4rem;
    font-weight: 600;
    color: #fff;
    margin-bottom: 13px;
}
.footer-section p{
    font-size: 1rem;
    color: #ccc;
}
.footer-section nav{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer-section nav a{
    text-decoration: none;
    color: #ccc;
    font-size: 0.95rem;
    display: inline-block;
}
.footer-section nav a:hover{
    color: hsl(0, 96%, 38%);
}
.copy-rights{
    text-align: center;
    padding-top: 20px;
    margin-top: 20px;
}
.copy-right p{
    font-size: 0.9rem;
    color: #999;
    margin: 0;
}


@media(max-width:1000px){
    header{
        padding: 14px 18px;
    }
    header h1{
        font-size: 1.5rem;
    }
    header nav{
        gap: 15px;
    }
    header nav a{
        font-size: 0.9rem;
    }
}

@media(max-width:600px){
    .motorcycle-card h3{
        font-size: 1.2rem;
        color:#333;
        margin-bottom: 10px;
        font-weight: 600;
    }
    .motorcycle-card .price{
        color:#d32f2f;
        font-size: 1.1rem;
    }
    .catcher h1{
    color: white;
    font-size: 1.4rem;
}
     .home-content h1{
        font-size: 2.2rem;
    }
    .home-content p{
        font-size: 1.2rem;
    }
    .content-form{
        min-width:100%;
    }
    header{
        padding: 15px 20px;
    }
    .navigation{
        gap: 20px;
    }

    header{
        position: relative;
        padding: 15px 20px;
    }
    .header-elements{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    header nav{
        flex-wrap:wrap;
        gap: 10px;
        width: 100%;
    }
    header nav a{
        padding: 9px;
        text-align: center;
        width: 100%;
    }
    .header-elements nav a:hover{
        background-color: transparent;
        color: hsl(0, 96%, 38%);
        font-weight: 900;
        transform: scale(1.1);
    }
    .dropdown{
        text-align: center;
        width: 100%;
    }
    .dropdown span{
        width: 100%;
        text-align: center;
        display: block;
        box-sizing: border-box;
        padding: 9px;
    }
    .dropdown-menu{
        width: 100%;
        padding: 0;
        margin-top: 5px;
    }
    .dropdown-menu a{
        width: 100%;
        text-align: center;
    }
    header nav a.contact{
        margin-left: 0;
        width: 100%;
    }
    header nav a.contact:hover{
    color: white;
    }
    .dropdown-menu{
        position: static;
        width: 100%;
    }

    .about-image img{
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

    .home-section h1{
        font-size: 1.5rem;
    }
    .home-section p{
        font-size: 1.3rem;
    }
    .home-button{
        font-size: 1.1rem;
    }



}